{{outlet}}
<div class="top-container">
  <div class="top-container__inner">
    <h1 class="top-title">New Breweries</h1>
  </div>
</div>

<div class="main-container">
  <div class="main-container__inner">
   <div class="brewery-list">
     <div class="brewery-list__item">
       <img src="http://placehold.it/200" alt="" class="brewery-list__item-img">
       <div class="brewery-list__item-info">
         <h3 class="brewery-list__item-info--name">name of place</h3>
         <p class="brewery-list__item--date">EST 2015</p>
       </div>
     </div>
   </div>
  </div>
</div>
